@import url("header.css");
@import url("footer.css");
.main {
  padding-top: 175px; }
  .main .about-hero {
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    justify-content: space-between; }
    .main .about-hero__figure {
      display: flex;
      justify-content: center;
      align-items: center; }
    .main .about-hero__image {
      max-height: 320px; }
    .main .about-hero__wrapper {
      margin-left: 30px; }
    .main .about-hero__title {
      font-size: 6rem;
      font-weight: 600;
      padding-top: 20px;
      margin-bottom: 12px;
      color: #1d1d1f; }
    .main .about-hero__subtitle {
      font-size: 2rem;
      font-weight: 500;
      margin-bottom: 12px;
      color: #1d1d1f; }
    .main .about-hero__copy {
      font-weight: 400;
      font-size: 1.7rem;
      line-height: 1.4;
      color: #555; }

.main .section-modules {
  padding-top: 100px; }
  .main .section-modules .container-modules {
    background: #F2F2F2;
    border-radius: 25px;
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
    padding: 50px 20px 20px; }
    .main .section-modules .container-modules__title {
      margin-bottom: 40px;
      font-size: 5rem;
      text-align: center;
      color: #1d1d1f; }
    .main .section-modules .container-modules .modules {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(2, auto);
      grid-gap: 40px;
      grid-template-areas: "abastecimiento abastecimiento almacen almacen combustible combustible" "caja caja caja reportes reportes reportes"; }
      .main .section-modules .container-modules .modules__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px; }
        .main .section-modules .container-modules .modules__item--abastecimiento {
          grid-area: abastecimiento; }
        .main .section-modules .container-modules .modules__item--almacen {
          grid-area: almacen; }
        .main .section-modules .container-modules .modules__item--combustible {
          grid-area: combustible; }
        .main .section-modules .container-modules .modules__item--caja {
          grid-area: caja; }
        .main .section-modules .container-modules .modules__item--reportes {
          grid-area: reportes; }
      .main .section-modules .container-modules .modules__image {
        width: 200px;
        height: 200px; }
      .main .section-modules .container-modules .modules__title {
        font-size: 3rem;
        margin-top: 15px;
        text-align: center;
        color: #1d1d1f;
        line-height: 1;
        height: 80px; }
      .main .section-modules .container-modules .modules .feature-list {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px; }
        .main .section-modules .container-modules .modules .feature-list .feature-item {
          max-width: 250px;
          font-size: 17px;
          color: #555; }

@media screen and (max-width: 1080px) {
  .main {
    padding-top: 135px; }
    .main .about-hero {
      max-width: 90rem;
      padding: 0 20px; }
      .main .about-hero__image {
        max-width: 490px; }
      .main .about-hero__title {
        padding-top: 0;
        font-size: 4.8rem;
        margin-bottom: 8px; }
      .main .about-hero__subtitle {
        font-size: 18px;
        margin-bottom: 8px; }

  .main .section-modules {
    padding-top: 60px; }
    .main .section-modules .container-modules {
      max-width: 90rem;
      padding-top: 40px; }
      .main .section-modules .container-modules__title {
        font-size: 38px; }
      .main .section-modules .container-modules .modules__title {
        font-size: 22px;
        height: 65px; }
      .main .section-modules .container-modules .modules__item {
        padding: 10px; } }
@media screen and (max-width: 870px) {
  .main .about-hero {
    max-width: 600px;
    flex-direction: column; }
    .main .about-hero__image {
      max-height: 280px; }
    .main .about-hero__wrapper {
      margin: 20px 0 0;
      text-align: center;
      padding: 0 40px; }

  .main .section-modules .container-modules .modules {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "abastecimiento almacen" "combustible caja" "reportes reportes"; } }
@media screen and (max-width: 767px) {
  .main {
    padding-top: 125px; }
    .main .about-hero {
      padding: 0 15px; } }
@media screen and (max-width: 560px) {
  .main .about-hero__figure {
    width: 100%; }
  .main .about-hero__image {
    width: 100%;
    height: auto;
    max-width: 500px;
    max-height: initial; }
  .main .about-hero__wrapper {
    padding: 0; }

  .main .section-modules .container-modules .modules {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "abastecimiento" "almacen" "combustible" "caja" "reportes";
    grid-gap: 30px; }
    .main .section-modules .container-modules .modules__title {
      height: auto;
      margin-bottom: 15px; } }

/*# sourceMappingURL=acerca-de.css.map */
