@import url("header.css");
@import url("footer.css");
.main {
  padding-top: 175px;
}

.about-hero {
  max-width: 140rem;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
}
.about-hero__figure {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-hero__image {
  max-height: 290px;
}
.about-hero__wrapper {
  margin-left: 30px;
}
.about-hero__title {
  font-size: 4.6rem;
  font-weight: 600;
  padding-top: 20px;
  margin-bottom: 12px;
  color: #f5f5f7;
}
.about-hero__subtitle {
  font-size: 1.9rem;
  font-weight: 500;
  margin-bottom: 12px;
  color: #f5f5f7;
}
.about-hero__copy {
  font-size: 1.6rem;
  line-height: 1.4;
  color: #bebebe;
}

.section-modules {
  padding-top: 100px;
}

.container-modules {
  background: #1e1e1e;
  border-radius: 25px;
  width: 95%;
  max-width: 140rem;
  margin: 0 auto;
  padding: 50px 20px 20px;
}
.container-modules__title {
  margin-bottom: 40px;
  font-size: 3.6rem;
  text-align: center;
  color: #f5f5f7;
}

.carrousel {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
}

.carrousel__arrow-left, .carrousel__arrow-right {
  position: relative;
  background: rgba(93, 92, 92, 0.719);
  border: none;
  top: 15%;
  height: 120px;
  width: 30px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.carrousel__arrow-left:hover, .carrousel__arrow-right:hover {
  background: rgba(51, 48, 48, 0.541);
}

.carrousel__arrow-left {
  left: 0;
  transform: rotate(180deg);
}

.carrousel__arrow-right {
  right: 0;
}

.modules {
  user-select: none;
  width: 100%;
  display: flex;
  scroll-behavior: smooth;
  overflow-x: scroll;
}
.modules__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  flex-shrink: 0;
  width: 25%;
}
.modules__image {
  width: 150px;
  height: 150px;
  filter: contrast(120%) brightness(90%);
}
.modules__title {
  font-size: 2.3rem;
  margin-top: 15px;
  text-align: center;
  color: #f5f5f7;
  line-height: 1;
  height: 80px;
}
.modules::-webkit-scrollbar {
  display: none;
}

.feature-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}
.feature-list .feature-item {
  max-width: 300px;
  font-size: 16px;
  color: #bebebe;
}

.section-conections {
  padding-top: 100px;
}

.conections {
  max-width: 140rem;
  padding: 0 30px;
  margin: 0 auto;
  text-align: center;
}
.conections__title {
  font-size: 3.6rem;
  margin-bottom: 30px;
  color: #f5f5f7;
}

.tabnav {
  margin: 0 auto;
  max-width: 70rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #4f4f4f;
  margin-bottom: 30px;
}
.tabnav__item {
  font-size: 18rem;
  cursor: pointer;
  padding: 10px 0;
  user-select: none;
  transition: all 0.5s;
  position: relative;
  display: flex;
  align-items: center;
}
.tabnav__item:nth-child(1) > .tabnav__link, .tabnav__item:nth-child(5) > .tabnav__link {
  width: 55px;
}
.tabnav__item:nth-child(2) > .tabnav__link {
  width: 60px;
}
.tabnav__item.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: white;
  top: calc(100% - 1px);
  left: 0;
  animation-name: opacidad;
  animation-duration: 0.5s;
}
.tabnav__link {
  position: relative;
  z-index: -100;
  width: 70px;
}

.panels {
  min-height: 120px;
  max-width: 70rem;
  margin: 0 auto;
}
@keyframes movimiento {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes opacidad {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.panels__item {
  min-height: 310px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -1000%;
}
.panels__item.active {
  animation-name: movimiento, opacidad;
  animation-duration: 0.5s, 0.5s;
  position: relative;
  left: 0;
}
.panels__item > img {
  height: 150px;
  width: auto;
  margin-bottom: 20px;
}
.panels__item:nth-child(2) > img {
  width: 400px;
}
.panels__item:nth-child(1) > img {
  width: 140px;
}
.panels__item:nth-child(5) > img {
  width: 300px;
  height: auto;
}
.panels__item h3 {
  font-size: 2.8rem;
  margin-bottom: 6px;
  color: #f5f5f7;
}
.panels__item p {
  font-size: 1.6rem;
  color: #bebebe;
}

.dotnav {
  display: none;
  margin-top: 5px;
}
.dotnav__list {
  display: flex;
  margin: 0 auto;
  max-width: 14rem;
  justify-content: space-between;
}
.dotnav__item.active > .dotnav__link {
  background: #e6e6e6;
}
.dotnav__link {
  width: 10px;
  height: 10px;
  background: #505050;
  border-radius: 100%;
  position: relative;
  z-index: -1;
  margin: 10px;
}

.section-security {
  padding-top: 100px;
}

.security {
  max-width: 140rem;
  padding: 0 30px;
  margin: 0 auto;
  text-align: center;
}
.security__title {
  color: #f5f5f7;
  font-size: 3.6rem;
  margin-bottom: 25px;
}
.security__image {
  max-width: 300px;
  margin-bottom: 20px;
  filter: brightness(80%) contrast(130%);
}
.security__copy {
  color: #bebebe;
  font-size: 1.6rem;
  display: block;
  max-width: 650px;
  margin: 0 auto;
}

.section-internet {
  padding-top: 100px;
}

.internet {
  max-width: 140rem;
  padding: 0 8%;
  margin: 0 auto;
  text-align: center;
}
.internet__title {
  font-size: 2.8rem;
  color: #f5f5f7;
  margin-bottom: 20px;
}
.internet__copy {
  font-size: 16px;
  color: #bebebe;
}
.internet [class*=lan__copy] {
  display: block;
  margin-bottom: 10px;
}
.internet .lan__copy--4 {
  margin-bottom: 0;
}

@media screen and (max-width: 1080px) {
  .main {
    padding-top: 135px;
  }

  .about-hero {
    max-width: 100rem;
    padding: 0 20px;
  }
  .about-hero__image {
    max-width: 490px;
  }
  .about-hero__title {
    padding-top: 0;
    margin-bottom: 8px;
  }
  .about-hero__subtitle {
    font-size: 18px;
    margin-bottom: 8px;
  }

  .section-modules {
    padding-top: 60px;
  }

  .container-modules {
    max-width: 100rem;
    padding-top: 40px;
  }

  .modules__title {
    font-size: 22px;
    height: 65px;
  }
  .modules__item {
    padding: 10px;
    width: 33.3%;
  }

  .section-conections {
    padding-top: 60px;
  }

  .conections {
    max-width: 100rem;
    padding: 0 20px;
  }

  .section-security {
    padding-top: 60px;
  }

  .security {
    max-width: 100rem;
    padding: 0 20px;
  }

  .section-internet {
    padding-top: 60px;
  }

  .internet {
    max-width: 100rem;
    padding: 20px;
  }
}
@media screen and (max-width: 870px) {
  .about-hero {
    max-width: 600px;
    flex-direction: column;
  }
  .about-hero__image {
    max-height: 280px;
  }
  .about-hero__wrapper {
    margin: 20px 0 0;
    text-align: center;
    padding: 0 40px;
  }

  .modules__item {
    width: 50%;
  }
}
@media screen and (max-width: 767px) {
  .main {
    padding-top: 100px;
  }

  .about-hero {
    padding: 0 15px;
  }

  .modules__item {
    width: 100%;
  }

  .conections {
    padding: 0 15px;
  }
  .conections__title {
    font-size: 3.8rem;
  }

  .security {
    padding: 0 15px;
  }

  .internet {
    padding: 15px;
  }
}
@media screen and (max-width: 560px) {
  .about-hero__figure {
    width: 100%;
  }
  .about-hero__image {
    width: 100%;
    height: auto;
    max-width: 500px;
    max-height: initial;
  }
  .about-hero__wrapper {
    padding: 0;
  }

  .container-modules {
    padding-left: 0;
    padding-right: 0;
  }

  .carrousel__arrow-left, .carrousel__arrow-right {
    top: 10%;
    height: 100px;
    z-index: 900;
  }

  .feature-list {
    row-gap: 10px;
  }

  .dotnav {
    display: block;
  }

  .tabnav {
    display: none;
  }

  .panels__item {
    min-height: 260px;
  }
  .panels__item > img {
    height: 100px;
    width: auto;
    margin-bottom: 20px;
  }
  .panels__item:nth-child(2) > img {
    width: 260px;
  }
  .panels__item:nth-child(1) > img {
    width: 100px;
  }
  .panels__item:nth-child(5) > img {
    width: 240px;
  }

  .modules__title {
    height: auto;
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 406px) {
  .panels__item {
    min-height: 285px;
  }
}

/*# sourceMappingURL=acerca-de.css.map */
