// Importacion de Css no de Sass
@import url("header.css");
@import url("footer.css");

@import "components/variables";
@import "components/button";

// <!-------------- ESTILOS DEL HERO -------------->
.main {
    padding-top: 175px;
}

.about-hero {
    max-width: $width-size;
    margin: 0 auto;
    padding: 0 $padding-size;
    display: flex;
    justify-content: space-between;

    &__figure {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__image {
        max-height: 290px;
    }

    &__wrapper {
        margin-left: 30px;
    }

    &__title {
        font-size: 4.6rem;
        font-weight: 600;
        padding-top: 20px;
        margin-bottom: 12px;
        color: $title-color;
    }

    &__subtitle {
        font-size: 1.9rem;
        font-weight: 500;
        margin-bottom: 12px;
        color: $title-color;
    }

    &__copy {
        font-size: 1.6rem;
        line-height: 1.4;
        color: $paragraph-color;
    }
}

// <!-------------- ESTILOS DE LA SECCION MODULOS -------------->
.section-modules {
    padding-top: 100px;
}

.container-modules {
    background: $background-stack;
    border-radius: 25px;
    width: 95%;
    max-width: $width-size;
    margin: 0 auto;
    padding: 50px 20px 20px;

    &__title {
        margin-bottom: 40px;
        font-size: 3.6rem;
        text-align: center;
        color: $title-color;
    }
}

.carrousel{
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
}
// <!-------------- ESTILOS DE LOS BOTONES DE NAVEGACION EN LA SECCION MODULOS DEL SISTEMA -------------->
.arrow-svg{
    transition: all .3s;
    fill: #959595;
}
.carrousel__arrow-left, .carrousel__arrow-right{
    position: relative;
    background: rgba(45, 45, 45, 0.8);
    border: none;
    top: 15%;
    height: 120px;
    width: 30px;
    cursor: pointer;
    transition: all .2s ease;
}
.carrousel__arrow-left:hover, .carrousel__arrow-right:hover{
    background: rgba(80, 80, 80, 0.7);

    .arrow-svg{
        fill: #f1f1f1;
    }
}
.carrousel__arrow-left{
    left: 0;
    transform: rotate(180deg);
}
.carrousel__arrow-right{
    right: 0;
}



.modules {
    user-select: none;
    width: 100%;
    display: flex;
    scroll-behavior: smooth;
    overflow-x: scroll;


    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px;
        flex-shrink: 0;
        width: 25%;
    }

    &__image {
        width: 150px;
        height: 150px;
        filter: contrast(120%) brightness(90%);
    }

    &__title {
        font-size: 2.3rem;
        margin-top: 15px;
        text-align: center;
        color: $title-color;
        line-height: 1;
        height: 80px;
    }
    &::-webkit-scrollbar{
        display: none;
    }
}

.feature-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;

    .feature-item {
        max-width: 300px;
        font-size: 16px;
        color: $paragraph-color;
    }
}

// <!-------------- ESTILOS DE LA SECCION CONECCTIONS -------------->
.section-conections {
    padding-top: 100px;
}

.conections {
    max-width: $width-size;
    padding: 0 $padding-size;
    margin: 0 auto;
    text-align: center;

    &__title {
        font-size: 3.6rem;
        margin-bottom: 30px;
        color: $title-color;
    }
}

// <!-------------- ESTILOS DEL TABNAV -------------->

.tabnav {
    margin: 0 auto;
    max-width: 70rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #4f4f4f;
    margin-bottom: 30px;

    &__item {
        font-size: 18rem;
        cursor: pointer;
        padding: 10px 0;
        user-select: none;
        transition: all .5s;
        position: relative;
        display: flex;
        align-items: center;

        &:nth-child(1)>.tabnav__link,
        &:nth-child(5)>.tabnav__link {
            width: 55px;
        }

        &:nth-child(2)>.tabnav__link {
            width: 60px;
        }

        &.active::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            background: rgb(255, 255, 255);
            top: calc(100% - 1px);
            left: 0;
            animation-name: opacidad;
            animation-duration: .5s;
        }
    }

    &__link {
        position: relative;
        z-index: -100;
        width: 70px;
    }

}

// <!-------------- ESTILOS DE LOS PANELES -------------->
.panels {
    min-height: 120px;
    max-width: 70rem;
    margin: 0 auto;
// <!-------------- ANIMACIONES -------------->

    @keyframes movimiento {
        0% {
            transform: translateY(10px);
        }

        100% {
            transform: translateY(0);
        }
    }

    @keyframes opacidad {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    &__item {
        min-height: 310px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        position: absolute;
        left: -1000%;

        &.active {
            animation-name: movimiento, opacidad;
            animation-duration: .5s, .5s;
            position: relative;
            left: 0;
        }

        &>img {
            height: 150px;
            width: auto;
            margin-bottom: 20px;
        }

        &:nth-child(2)>img {
            width: 400px;
        }

        &:nth-child(1)>img {
            width: 140px;
        }

        &:nth-child(5)>img {
            width: 300px;
            height: auto;
        }

        h3 {
            font-size: 2.8rem;
            margin-bottom: 6px;
            color: $title-color;
        }

        p {
            font-size: 1.6rem;
            color: $paragraph-color;
        }
    }
}

// <!-------------- ESTILOS DE LAS CONEXIONES-MIN (DOTNAV) -------------->
.dotnav {
    display: none;
    margin-top: 5px;

    &__list {
        display: flex;
        margin: 0 auto;
        max-width: 14rem;
        justify-content: space-between;
    }

    &__item.active>.dotnav__link {
        background: rgb(230, 230, 230);
    }

    &__link {
        width: 10px;
        height: 10px;
        background: rgb(80, 80, 80);
        border-radius: 100%;
        position: relative;
        z-index: -1;
        margin: 10px;
    }
}

// <!-------------- ESTILOS DE LA SECCION SECURITY -------------->
.section-security {
    padding-top: 100px;
}

.security {
    max-width: $width-size;
    padding: 0 $padding-size;
    margin: 0 auto;
    text-align: center;

    &__title {
        color: $title-color;
        font-size: 3.6rem;
        margin-bottom: 25px;
    }

    &__image {
        max-width: 300px;
        margin-bottom: 20px;
        filter: brightness(80%) contrast(130%);
    }

    &__copy {
        color: $paragraph-color;
        font-size: 1.6rem;
        display: block;
        max-width: 650px;
        margin: 0 auto;
    }
}

// <!-------------- ESTILOS DE INTERNET -------------->
.section-internet {
    padding-top: 100px;
}


.internet {
    max-width: $width-size;
    padding: 0 8%;
    margin: 0 auto;
    text-align: center;

    &__title {
        font-size: 2.8rem;
        color: $title-color;
        margin-bottom: 20px;
    }

    &__copy {
        font-size: 16px;
        color: $paragraph-color;
    }

    [class*="lan__copy"] {
        display: block;
        margin-bottom: 10px;
    }

    .lan__copy--4 {
        margin-bottom: 0;
    }
}








// <!--------------------------------------- MEDIAQUERYS ------------------------------------->
@media screen and (max-width: 1080px) {
    $padding-size: 20px;
    $width-size: 100rem;

    // <!-------------- ESTILOS DEL HERO -------------->
    .main {
        padding-top: 135px;
    }


    .about-hero {
        max-width: $width-size;
        padding: 0 $padding-size;

        &__image {
            max-width: 490px;
        }

        &__title {
            padding-top: 0;
            margin-bottom: 8px;
        }

        &__subtitle {
            font-size: 18px;
            margin-bottom: 8px;
        }
    }

    // <!-------------- ESTILOS DE LA SECCION MODULOS -------------->
    .section-modules {
        padding-top: 60px;
    }


    .container-modules {
        max-width: $width-size;
        padding-top: 40px;

    }

    .modules {

        &__title {
            font-size: 22px;
            height: 65px;
        }

        &__item {
            padding: 10px;
            width: 33.3%;
        }
    }

    // <!-------------- ESTILOS DE LAS CONECCTIONS -------------->
    .section-conections {
        padding-top: 60px;
    }

    .conections {
        max-width: $width-size;
        padding: 0 $padding-size;
    }

    // <!-------------- ESTILOS DE SECURITY -------------->
    .section-security {
        padding-top: 60px;
    }

    .security {
        max-width: $width-size;
        padding: 0 $padding-size;
    }

    // <!-------------- ESTILOS DE INTERNET -------------->
    .section-internet {
        padding-top: 60px;
    }

    .internet {
        max-width: $width-size;
        padding: $padding-size;
    }

}

@media screen and (max-width: 870px) {

    // <!-------------- ESTILOS DEL HERO -------------->
    .about-hero {
        max-width: 600px;
        flex-direction: column;

        &__image {
            max-height: 280px;
        }

        &__wrapper {
            margin: 20px 0 0;
            text-align: center;
            padding: 0 40px;
        }
    }

    // <!-------------- ESTILOS DE LA SECCION MODULOS -------------->
    .modules{
        &__item{
            width: 50%;
        }
    }
}

@media screen and (max-width: 767px) {
    $padding-size: 15px;

    // <!-------------- ESTILOS DEL HERO -------------->
    .main {
        padding-top: 100px;
    }

    .about-hero {
        padding: 0 $padding-size;
    }



    .modules{
        &__item{
            width: 100%;
        }
    }

    // <!-------------- ESTILOS DE LAS CONEXIONES -------------->
    .conections {
        padding: 0 $padding-size;

        &__title {
            font-size: 3.8rem;
        }
    }

    // <!-------------- ESTILOS DE SECURITY -------------->
    .security {
        padding: 0 $padding-size;
    }

    // <!-------------- ESTILOS DE INTERNET -------------->
    .internet {
        padding: $padding-size;
    }

}

@media screen and (max-width: 560px) {

    // <!-------------- ESTILOS DEL HERO -------------->
    .about-hero {
        &__figure {
            width: 100%;
        }

        &__image {
            width: 100%;
            height: auto;
            max-width: 500px;
            max-height: initial;
        }

        &__wrapper {
            padding: 0;
        }
    }


    .container-modules{
        padding-left: 0;
        padding-right: 0;
    }
    // <!-------------- ESTILOS DE LOS BOTONES DE NAVEGACION EN LA SECCION MODULOS DEL SISTEMA -------------->
    .carrousel__arrow-left, .carrousel__arrow-right{
        top: 10%;
        height: 100px;
        z-index: 900;
    }

    // <!-------------- ESTILOS DEL HERO -------------->
    .feature-list {
        row-gap: 10px;
    }

    // <!-------------- ESTILOS DE LAS CONECCTIONS -------------->
    .dotnav {
        display: block;
    }

    .tabnav {
        display: none;
    }

    .panels {
        &__item {
            min-height: 260px;

            &>img {
                height: 100px;
                width: auto;
                margin-bottom: 20px;
            }

            &:nth-child(2)>img {
                width: 260px;
            }

            &:nth-child(1)>img {
                width: 100px;
            }

            &:nth-child(5)>img {
                width: 240px;
            }
        }
    }

    // <!-------------- ESTILOS DE LOS MODULOS -------------->
    .modules {
        &__title {
            height: auto;
            margin-bottom: 15px;
        }
    }

}

@media screen and (max-width: 406px) {

    // <!-------------- ESTILOS DE CONECCTIONS -------------->

    .panels {
        &__item {
            min-height: 285px;
        }
    }

}