// Importacion de Css no de Sass
@import url("header.css");
@import url("footer.css");

@import "components/variables";
@import "components/button";

// <!-------------- ESTILOS DEL HERO -------------->
.main{
    padding-top: 175px;
    .about-hero{
        max-width: $width-size;
        margin: 0 auto;
        padding: 0 $padding-size;
        display: flex;
        justify-content: space-between;

        &__figure{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__image{
            max-height: 320px;
        }
        &__wrapper{
            margin-left: 30px;
        }
        &__title{
            font-size: 6rem;
            font-weight: 600;
            padding-top: 20px;
            margin-bottom: 12px;
            color: $title-color;
        }
        &__subtitle{
            font-size: 2rem;
            font-weight: 500;
            margin-bottom: 12px;
            color: $title-color;
        }
        &__copy{
            font-weight: 400;
            font-size: 1.7rem;
            line-height: 1.4;
            color: $paragraph-color;
        }
    }
}
// <!-------------- ESTILOS DE LA SECCION MODULOS -------------->
.main{
    .section-modules{
        padding-top: 100px;

        .container-modules{
            background: $background-stack;
            border-radius: 25px;
            width: 95%;
            max-width: $width-size;
            margin: 0 auto;
            padding: 50px 20px 20px;
            
            &__title{
                margin-bottom: 40px;
                font-size: 5rem;
                text-align: center;
                color: $title-color;
            }
            .modules{
                display: grid;
                grid-template-columns: repeat(6, 1fr);
                grid-template-rows: repeat(2, auto);
                grid-gap: 40px;
                grid-template-areas:
                "abastecimiento abastecimiento almacen almacen combustible combustible"
                "caja caja caja reportes reportes reportes";

                &__item{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 20px;

                    &--abastecimiento{
                        grid-area: abastecimiento;
                    }
                    &--almacen{
                        grid-area: almacen;
                    }
                    &--combustible{
                        grid-area: combustible;
                    }
                    &--caja{
                        grid-area: caja;
                    }
                    &--reportes{
                        grid-area: reportes;
                    }
                }

                &__image{
                    width: 200px;
                    height: 200px;
                }
                &__title{
                    font-size: 3rem;
                    margin-top: 15px;
                    text-align: center;
                    color: $title-color;
                    line-height: 1;
                    height: 80px;
                }
                .feature-list{
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-gap: 20px;

                    .feature-item{
                        max-width: 250px;
                        font-size: 17px;
                        color: $paragraph-color;
                    }
                }
            }
        }
    }
}








// <!--------------------------------------- MEDIAQUERYS ------------------------------------->
@media screen and (max-width: 1080px){
    $padding-size: 20px;
    $width-size: 90rem;

// <!-------------- ESTILOS DEL HERO -------------->
    .main{
        padding-top: 135px;

        .about-hero{
            max-width: $width-size;
            padding: 0 $padding-size;

            &__image{
                max-width: 490px;
            }
            &__title{
                padding-top: 0;
                font-size: 4.8rem;
                margin-bottom: 8px;
            }
            &__subtitle{
                font-size: 18px;
                margin-bottom: 8px;
            }
        }
    }
// <!-------------- ESTILOS DE LA SECCION MODULOS -------------->
    .main{
        .section-modules{
            padding-top: 60px;

            .container-modules{
                max-width: $width-size;
                padding-top: 40px;

                &__title{
                    font-size: 38px;
                }

                .modules{

                    &__title{
                        font-size: 22px;
                        height: 65px;
                    }
                    &__item{
                        padding: 10px;
                    }
                }
            }
        }
    }

}
@media screen and (max-width: 870px){

// <!-------------- ESTILOS DEL HERO -------------->
    .main{
        .about-hero{
            max-width: 600px;
            flex-direction: column;

            &__image{
                max-height: 280px;
            }
            &__wrapper{
                margin: 20px 0 0;
                text-align: center;
                padding: 0 40px;
            }
        }
    }
// <!-------------- ESTILOS DE LA SECCION MODULOS -------------->
    .main{
        .section-modules{
            .container-modules{
                .modules{
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: repeat(3, auto);
                    grid-template-areas: 
                    "abastecimiento almacen"
                    "combustible caja"
                    "reportes reportes";
                }
            }
        }
    }
}
@media screen and (max-width: 767px){
    $padding-size: 15px;

// <!-------------- ESTILOS DEL HERO -------------->
    .main{
        padding-top: 125px;

        .about-hero{
            padding: 0 $padding-size;
        }
    }
}
@media screen and (max-width: 560px){

// <!-------------- ESTILOS DEL HERO -------------->
    .main{
        .about-hero{
            &__figure{
                width: 100%;
            }
            &__image{
                width: 100%;
                height: auto;
                max-width: 500px;
                max-height: initial;
            }
            &__wrapper{
                padding: 0;
            }
        }
    }
// <!-------------- ESTILOS DE LOS MODULOS -------------->
    .main{
        .section-modules{
            .container-modules{
                .modules{
                    &__title{
                        height: auto;
                        margin-bottom: 15px;   
                    }

                    grid-template-columns: 1fr;
                    grid-template-rows: repeat(4, auto);
                    grid-template-areas: 
                    "abastecimiento"
                    "almacen"
                    "combustible"
                    "caja"
                    "reportes";
                    grid-gap: 30px;
                }
            }
        }
    }

}