// Importacion de Css no de Sass
@import url("header.css");
@import url("footer.css");

@import "components/variables";
@import "components/button";

.main{
  padding-top: 75px;
  min-height: 100vh;
}
.section-hero{
  background-blend-mode: overlay;
  background: url('../img/contacto/background.jpg') center no-repeat, linear-gradient(135deg,#fe7b11 0%,#b80572 100%) !important;
  background-size: cover;
  box-shadow: inset 0px -150px 0px rgb(247, 247, 247);
}
.hero{
  max-width: $width-size;
  margin: 0 auto;
  padding: 0 $padding-size;

  &__wrapper{
    padding: 20px;
    padding-top: 120px;
    color: #fff;
  }
  &__title{
    font-size: 5rem;
    text-align: center;
    font-weight: 500;
    line-height: 0.95;
  }
}
.cards{
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  padding: 50px;
  padding-bottom: 0;
}
.card{
  background: #fff;
  border-radius: 5px;
  padding: 50px 25px;
  padding-bottom: 70px;
  box-shadow: 0px 12px 18px -6px rgba(34,56,101,0.12);

  &__image{
    width: 64px;
    height: 64px;
    margin: 0px auto;
    margin-bottom: 45px;
    &.ventas{
      background: url('../img/contacto/icon-ventas.svg');
    }
    &.support{
      background: url('../img/contacto/icon-support.svg');
    }
    &.function{
      background: url('../img/contacto/icon-function.svg');
    }
  }

  &__title{
    font-size: 2.1rem;
    font-weight: 400;
    color: $title-color;
    margin-bottom: 10px;
  }

  &__copy{
    font-size: 1.6rem;
    font-weight: 400;
    color: #8e8e90;
    line-height: 1.4;
  }
}