// Importacion de Css no de Sass
@import url("header.css");
@import url("footer.css");

@import "components/variables";
@import "components/button";

body{
  background: $body-color;
}
.main{
  padding-top: 50px;
  min-height: 100vh;
}
// <!-------------- ESTILOS LA SECCION HERO -------------->
.section-hero{
  background-blend-mode: overlay;
  background: url('../img/contacto/background.jpg') center no-repeat, linear-gradient(135deg,#fe7b11 0%,#b80572 100%) !important;
  background-size: cover;
  box-shadow: inset 0px -150px 0px $body-color;
}
.hero{
  max-width: $width-size;
  margin: 0 auto;
  padding: 0 $padding-size;

  &__wrapper{
    padding: 20px;
    padding-top: 120px;
    color: #fff;
  }
  &__title{
    font-size: 4.6rem;
    text-align: center;
    font-weight: 500;
    line-height: 0.95;
  }
}
// <!-------------- ESTILOS DE LAS CARDS -------------->
.cards{
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  padding: 50px;
  padding-bottom: 0;
}
.card{
  background: rgb(34, 34, 34);
  border-radius: 5px;
  padding: 50px 25px;
  padding-bottom: 70px;
  // box-shadow: 0px 12px 18px -6px rgba(141, 141, 141, 0.2);

  &__image{
    width: 64px;
    height: 64px;
    margin: 0px auto;
    margin-bottom: 45px;
    &.ventas{
      background: url('../img/contacto/icon-ventas.svg');
    }
    &.support{
      background: url('../img/contacto/icon-support.svg');
    }
    &.function{
      background: url('../img/contacto/icon-function.svg');
    }
  }

  &__title{
    font-size: 2.1rem;
    font-weight: 400;
    color: $title-color;
    margin-bottom: 10px;
  }

  &__copy{
    font-size: 1.6rem;
    font-weight: 400;
    color: #8e8e90;
    line-height: 1.4;
  }
}
// <!-------------- ESTILOS LA SECCION CONTACTO-------------->
.section-contact{
  margin-top: 100px;
  padding: 0 $padding-size;
}
.contact{
  max-width: 80rem;
  margin: 0 auto;
  padding: 20px;
  background: rgb(34, 34, 34);
  // box-shadow: 0px 12px 18px -6px rgba(34,56,101,0.12);
  border-radius: 15px;
  min-height: 300px;

  display: grid;
  grid-template-columns: auto 1fr;

  &__header{
    max-width: 320px;
    padding: 20px 40px 20px 20px;
  }
  &__image{
    width: 140px;
    display: block;
    margin: 0 auto;
  }
  &__wrapper{
    text-align: center;
  }
  &__title{
    font-size: 2rem;
    margin-top: 12px;
    color: $title-color;
  }
  &__copy{
    font-size: 1.6rem;
    color: $paragraph-color;
    margin-top: 6px;
  }

  &__body{
    padding: 20px;
    padding-left: 40px;
    border-left: 2px solid rgb(51, 51, 51);
  }
  &__subtitle{
    font-size: 2rem;
    color: $title-color;
  }

  &__list{
    margin: 20px 0 0 20px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(2, auto);
    row-gap: 15px;
    column-gap: 25px;
  }
  &__item{
    font-size: 1.7rem;
    font-weight: 500;
    color: rgb(255, 51, 112);
    &-copy{
        font-size: 16px;
        color: $paragraph-color
    }
  }
  &__phone{
      display: block;
      margin-bottom: 8px;
      &:last-child{
          margin: 0;
      }
  }

  &__social{
    margin: 50px 0 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 190px;


    &-icon{
      transition: all .2s;
      width: 35px;
      height: 35px;
      background-size: cover;
      &:hover{
        transform: scale(1.1);
        // filter: grayscale(0);
      }
      &:nth-child(1){
        background: url('../img/footer/icon-facebook.svg');
        width: 30px;
        height: 30px;
      }
      &:nth-child(2){
        background: url('../img/footer/icon-youtube.svg');
      }
      &:nth-child(3){
        background: url('../img/footer/icon-whatsapp.svg');
        background-size: cover;
        width: 30px;
        height: 30px;
      }
    }
  }
}






// <!--------------------------------------- MEDIAQUERYS ------------------------------------->
@media screen and (max-width: 1080px){
  $padding-size: 20px;
  $width-size: 90rem;

  .main{
    padding-top: 50px;
  }
// <!-------------- ESTILOS LA SECCION HERO -------------->
  .hero{
    padding: 0 $padding-size;

    &__wrapper{
      padding-top: 90px;
    }
  }
// <!-------------- ESTILOS LA SECCION CONTACTO -------------->
  .section-contact{
    padding: 0 $padding-size;
  }
}

@media screen and (max-width: 980px){
// <!-------------- ESTILOS DE LAS CARDS -------------->
  .cards{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    max-width: 800px;
    margin: 0 auto;
  }
  .card{
    &__box{
      max-width: 470px;
      margin: 0 auto;
    }
  }
// <!-------------- ESTILOS LA SECCION CONTACTO -------------->
  .contact{
    max-width: 71rem;
  }
}

@media screen and (max-width: 767px){
  $padding-size: 15px;
  .main{
    padding-top: 55px;
  }
// <!-------------- ESTILOS LA SECCION HERO -------------->
  .hero{
    padding: 0 $padding-size;
    &__title{
      font-size: 4.5rem;
    }
    &__wrapper{
      padding: 20px;
      padding-top: 50px;
    }
  }
// <!-------------- ESTILOS DE LAS CARDS-------------->
  .cards{
    padding: 20px;
    padding-bottom: 0;
  }
// <!-------------- ESTILOS LA SECCION CONTACTO -------------->
  .contact{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    justify-items: center;
    grid-gap: 20px;
    padding: 20px $padding-size;

    &__header{
      padding: 10px;
    }

    &__body{
      border-left: none;
      padding: 10px;
    }
    &__subtitle{
      text-align: center;
    }
    &__list{
      margin: 20px 0 0 0;
    }
    &__social{
      margin: 40px auto 0;
    }
  }
}

@media screen and (max-width: 425px){
// <!-------------- ESTILOS DE LAS CARDS-------------->
  .cards{
    padding: 20px 10px 0;
  }
// <!-------------- ESTILOS LA SECCION CONTACTO -------------->
  .contact{
    padding: 25px 15px ;
    grid-gap: 40px;

    &__body, &__header{
      padding: 0;
    }
  }
}

@media screen and (max-width: 370px){
// <!-------------- ESTILOS LA SECCION HERO -------------->
  .hero{
    &__wrapper{
      padding: 50px 0 0;
    }
  }
// <!-------------- ESTILOS DE LAS CARDS-------------->
  .cards{
    padding: 30px 0;
  }
}