// Importacion de Sass
@import "components/variables";
@import "components/button";

html {
    font-size: 10px;
    font-family: $global-font;
}

body {
    background: $body-color;
}

a {
    display: block;
}

button {
    font-family: inherit;
}

.header {
    .main-nav__item--focus {

        &::before,
        &::after {
            opacity: 1;
        }

        .main-nav__link {
            color: #fff;
            background: $body-color;

            &::after,
            &::before {
                opacity: 1;
            }
        }
    }
}

[class="main-nav__link"] {
    &:hover {
        z-index: 3;
        background: rgb(131, 7, 48);
        opacity: 0.9;
    }
}

/* ESTILOS PARA RESETEAR EL DE LOS NAVEGADORES */
*,
*::after,
*::before {
    outline: none;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.mobile-menu {
    display: none;
}





// --------------ESTILOS DEL HEADER---------------//
.header {
    user-select: none;
    width: 100%;
    height: 45px;
    background: $header-color;
    position: fixed;
    z-index: 1000;
    top: 0;
}

// --------------ESTILOS DE LA NAVEGACION---------------//
.main-nav {
    max-width: $width-size;
    height: 100%;
    margin: 0 auto;
    padding: 0 $padding-size;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
        width: 9.5rem;
        user-select: none;
        filter: drop-shadow(2px 4px 4px #3f0012);
    }

    &__list {
        height: 100%;
        display: flex;
        justify-content: space-between;
    }

    &__item {
        height: 100%;
        position: relative;
        display: flex;
        align-items: flex-end;

        &::before,
        &::after {
            content: "";
            position: absolute;
            width: 20px;
            height: 20px;
            background: $header-color;
            bottom: 0;
            opacity: 0;
            z-index: 1;
            border-radius: 50%;
        }

        &::before {
            right: 100%;
        }

        &::after {
            left: 100%;
        }

        &::hover {

            &::before,
            &::after {
                opacity: 0.9;
            }
        }
    }

    &__link {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(230, 230, 230);
        border-radius: 15px 15px 0 0;
        font-size: 16px;
        font-weight: 400;
        position: relative;
        user-select: none;
        padding: 0px 20px 0;

        &::after,
        &::before {
            content: "";
            position: absolute;
            bottom: 0;
<<<<<<< HEAD
            background: $body-color;
            width: 10px;
            height: 10px;
            opacity: 0;
=======
            transition: all .3s;
            border-radius: 10px 10px 0 0;
            z-index: -1;
>>>>>>> cae044edbf89c9f0afc8d9bcaa139b0d4ea27fb4
        }

        &::after {
            left: 100%;
        }

        &::before {
            right: 100%;
        }

<<<<<<< HEAD

=======
        &:hover {
            @include styleBtn-hover;
        }

        &:active {
            @include styleBtn-active;
        }
>>>>>>> cae044edbf89c9f0afc8d9bcaa139b0d4ea27fb4
    }


}












// <!--------------------------------------- MEDIAQUERYS ------------------------------------->
@media screen and (max-width: 1080px) {
    $padding-size: 20px;
    $width-size: 100rem;

    .main-nav {
        max-width: $width-size;
        padding: 0 $padding-size;

        &__logo {
            width: 10rem;
        }

    }
}



@media screen and (max-width: 767px) {
    $padding-size: 15px;

    .header {
        height: 5.5rem;
        transition: background ease-in-out .3s;

        .main-nav__item--focus {

            &::before,
            &::after {
                background: $body-color;
            }

            .main-nav__link {
                background: $header-color;

                &::after,
                &::before {
                    background: $header-color;
                }
            }
        }

        &.active {
            // background: $header-color;

            .main-nav {
                position: relative;

                &__list {
                    height: 100vh;
                    opacity: 1;
                    visibility: visible;
                    padding-top: 50px;
                }

                &__item {
                    animation-name: fadeIn;
                    animation-duration: 1s;
                }

                @keyframes fadeIn {
                    from {
                        opacity: 0;
                    }

                    to {
                        opacity: 1;
                    }
                }
            }

            .line-top {
                margin-top: 0;
                transform: rotate(45deg);
                transition: transform .3192s .1s cubic-bezier(0.04, 0.04, 0.12, 0.96);
            }

            .line-medium {
                display: none;
                transition: .1s;
            }

            .line-bottom {
                margin-top: 0;
                transform: rotate(-45deg);
                transition: transform .3192s .1s cubic-bezier(0.04, 0.04, 0.12, 0.96);
            }
        }
    }

    .main-nav {
        padding: 0 $padding-size;



        &__list {
            height: 0;
            visibility: hidden;
            position: fixed;
            left: 0;
            right: 0;
            display: flex;
            flex-direction: column;
            justify-content: start;
            width: 100%;
            background: $body-color;
            transition: all ease-in-out .4s;
            overflow: hidden;
            top: 55px;

            &::after {
                content: "";
                width: 100%;
                height: 1px;
                background: #363636;
                position: absolute;
                top: 0;
            }
        }

        &__item {
            height: 60px;
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            flex-shrink: 0;

            &--hidden {
                height: auto;
                margin-top: 70px;
            }

            &::before,
            &::after {
                right: 0;
            }

            &::after {
                top: 100%;
            }

            &::before {
                bottom: 100%;
            }
        }

        &__link {
            width: 100%;
            font-size: 1.7rem;
            border-radius: 15px 0 0 15px;
            justify-content: center;

            &--large {
                display: none;
            }

            &::before,
            &::after {
                right: 0;
            }

            &::after {
                top: 100%;
            }

            &::before {
                bottom: 100%;
            }
        }
    }

    .mobile-menu {
        position: relative;
        width: 30px;
        height: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        overflow: visible;

        .line {
            position: absolute;
            width: 3rem;
            height: 2.2px;
            background: #fff;
            transition: margin-top .3192s cubic-bezier(0.04, 0.04, 0.12, 0.96);

            &-bottom {
                margin-top: 18px;
            }

            &-medium {
                margin-top: 2.9px;
            }

            &-top {
                margin-top: -1.2rem;
            }
        }
    }
}