// Importacion de Css no de Sass
@import url("header.css");
@import url("footer.css");

@import "components/variables";
@import "components/button";

// ESTILOS DEL HERO
.main {
    padding-top: 170px;
}

.hero {
    max-width: $width-size;
    margin: 0 auto;
    padding: 0 $padding-size;
    display: flex;
    justify-content: center;

    &__wrapper{
        max-width: 600px;
        margin-right: 20px;
    }


    &__title {
        padding-top: 40px;
        margin-bottom: 12px;
        font-size: 4.6rem;
        font-weight: 600;
        color: $title-color;
    }

    &__copy {
        font-size: 1.6rem;
        line-height: 1.4;
        color: $paragraph-color;
        margin-bottom: 30px;
    }

    &__link {
        display: inline;
    }

    &__btn {
        @include styleBtn;

        &:hover {
            @include styleBtn-hover;
        }
    }

    &__figure {
        position: relative;
        max-width: 680px;
    }

    &__background-circle {
        position: absolute;
        width: 102%;
        height: 140%;
        background: url('.././img/inicio/bgr-circle.svg') center no-repeat;
        background-size: 100% 100%;
        z-index: -1;
        top: -82px;
        left: -10px;
    }

    &__image {
        user-select: none;
        width: 100%;
    }
}

// <!-------------- ESTILOS DE LA SECCION WHY -------------->
.section-why {
    margin-top: 130px;
    background: #1b1b1b;
    padding: 6rem 0;
}

.why {
    max-width: $width-size;
    margin: 0 auto;
    padding: 0 $padding-size;
    text-align: center;
    color: $title-color;

    &__title {
        font-size: 3.6rem;
        font-weight: 500;
        margin-bottom: 40px;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        gap: 8rem;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    &__image {
        width: 120px;
        height: 120px;
        margin-bottom: 15px;
    }

    &__subtitle {
        font-size: 2.3rem;
        margin-bottom: 15px;
        font-weight: 500;
    }

    &__subcopy {
        font-size: 16px;
        line-height: 1.4;
        margin-bottom: 15px;
        color: $paragraph-color;
    }

    &__link {
        font-size: 17px;
        color: #ff3164;
        transition: all .3s;
        margin-bottom: 10px;

        &:hover {
            text-decoration: underline;
        }

        &::after {
            content: "";
            border: solid #ff3164;
            border-width: 0 1.5px 1.5px 0;
            display: inline-block;
            padding: 3.5px;
            transform: rotate(-45deg);
            margin-left: 3px;
        }
    }
}


/*************** MEDIA QUERYS ****************/
@media screen and (max-width: 1080px) {
    $padding-size: 20px;
    $width-size: 100rem;

    .main {
        padding-top: 135px;
    }

    .hero {
        max-width: $width-size;
        padding: 0 $padding-size;

        &__wrapper{
            margin-right: 10px;
        }

        &__title {
            padding-top: 15px;
            margin-bottom: 10px;
        }

        &__copy {
            line-height: 1.4;
            margin-bottom: 20px;
        }

        &__background-circle {
            top: -60px;
        }
    }

    .section-why {
        margin-top: 90px;
    }

    .why {
        max-width: $width-size;

        &__list {
            gap: 6.5rem;
        }

        &__subtitle {
            font-size: 22px;
        }
    }
}

@media screen and (max-width: 870px) {
    .main {
        padding-top: 135px;
    }

    .hero {
        width: 600px;
        flex-direction: column-reverse;
        text-align: center;

        &__title{
            padding-top: 25px;
        }
        &__background-circle {
            top: -70px;
        }

        &__btn {
            margin: 0 auto;
        }
    }

    .why {
        max-width: 600px;

        &__list {
            grid-template-columns: 1fr;
            gap: 5rem;
            grid-template-rows: auto auto auto;
        }
    }
}

@media screen and (max-width: 767px) {
    $padding-size: 15px;


    .hero,
    .why {
        padding: 0 $padding-size;
    }

    .section-why {
        margin-top: 65px;
    }
}

@media screen and (max-width: 600px) {

    .hero {
        width: 100%;

        &__background-circle {
            top: -25%;
        }
    }

}